<!DOCTYPE html>
<html lang="pl">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,700&display=swap"
      rel="stylesheet"
    />
    {%load static%}
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}" />
    <script src="{% static 'js/main.js' %}" type="module"></script>
    {% block title %} {% endblock title %}
  </head>
    <nav>
      <p><a href="{%url 'logout_page'%}">Wylogowanie</a></p>
      <p><a href="{%url 'sellsite_page'%}">Sellsite</a></p>
      <p><a href="{%url 'home_page'%}">Home</a></p>
      <p><a href="{%url 'cart_page'%}">Koszyk</a></p>
    </nav>
    {% block content %} {% endblock content %}

    <footer>
      To jest stopka
    </footer>
  </head>
</html>