{% extends "base_with_navbar.html" %}
 
{%block title%} <title>5secs - detail_page</title> {%endblock title%}
</head>
{% block content %}
<body>
    <h1>{{product.title}}</h1>
    <img src="{{product.image.url}}"> 

    <br>
    <h2>Dostępne Rozmiary:</h2>
    {%for size in sizes%}
        {%if size.quantity_size > 0%}
            {{size.name_size}}
        {%endif%}
    {%endfor%}
  
    <h3>Cena: {{product.price}} zł</h3>
    <a href="/add_to_cart/{{product.id}}/">Dodaj Do Koszyka</a>
    
</body>
</html>
{% endblock content%}