{% extends "base.html" %}
  
{% block content %}
    <title>5secs - login</title>
</head>
<body>
    <div class="login">
        <div class="login__header">
            <h2 class="login__header__welcome welcome__text">Dzień dobry!</h2>
            <p class="login__header__paragraph">Zaloguj</p>
        </div>
        <form method="POST" class="login__form"> 
            {%csrf_token%}
                <input type="text" name="username" placeholder="e-mail">
                <input type="password" name="password" placeholder="hasło">
                <input class='login__form__btn' type="submit" value="Zaloguj">
        </form>
        <p class="having__account">Nie masz jeszcze konta? <a href="{%url 'register_page'%}">Zarejestruj</a></p>
    </div>
</body>
</html>
{% endblock content%}