{% extends "base_with_navbar.html" %}
 

{%block title%} <title>Zamówienia</title> {%endblock title%}
</head>
{% block content %}
<body>
    <h1>Twoje zamówienia</h1>
    <br>
    {% for order in user_orders %}
    <p>numer zanówienia {{order.id}}</p>
        {% for items in order.get_cart_items %}
            <p>{{items}}: {{items.product.price}} zł</p>
        {% endfor %}
        <br>
        <p>Wartość zamówienia: {{order.get_sum_cart}} zł</p>
    {% endfor %}
</body>
</html>
{% endblock content%}