{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{%static 'css/main.css'%}">
    <title>Document</title>
</head>
<body>
    
    <h1>register_page</h1>
    <form method="POST"> 
        {%csrf_token%}
        <div id="dane_rejestracja">
            <label>Email: </label> <input type="email" name="email">
            <label>Imię: </label> <input type="text" name="first_name">
            <label>Hasło: </label> <input type="password" name="password1">
            <label>Powtórz Hasło: </label> <input type="password" name="password2">

            <input type="submit" value="Rejestracja">
        </div>           
    </form>
    <div id="messages">  

        {%for i in error_list%}
            <label>{{i}}</label>
        {%endfor%}

    </div>
    <p><a href="{%url 'login_page'%}">login</a></p>
    
</body>
</html>