{% extends 'base.html' %}
{% block content%}
<title>5ecs - SellSite</title>
</head>
<body>

    <div class="sellsite container">
        <h1>Sellsite</h1>
        <div class="sellsite__products">
            {% for product in products %}
                {% if product.is_active == True and product.in_stock == True%}

                    <div class="box_for_product">
                        <img src="{{product.image.url}}"> 
                        <a href="{{ product.get_absolute_url }}"> {{product.title|slice:":50"}} </a>
                        <a>Cena: {{product.price}} zł</a>
                        <a href="">Dodaj Do Koszyka</a>
                    </div>

                {% endif %}
            {% endfor %}
        </div>
    </div>

</body>
</html>
{% endblock content %}
